---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      {% if post.exclude_from_homepage %}
        {% continue %}
      {% endif %}

      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <small>{{ post.date | date: "%B %e, %Y"}}</small>
      </h1>

      <div class="entry">
        {% if post.excerpt %}
        {{ post.excerpt }}
        {% else %}
        {{ post.content | truncatewords:30}}
        {% endif %}

      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
